/* Anything bigger than 769, do this... */

@media (min-width: 768px) {
  
  #a {
    height: 100px;
    width: 100%;
    line-height: 100px;
  }
  
  #b {
    height: 600px;
    width: 20%;
    line-height: 600px;
    float: left;
  }
  
  #c {
    height: 200px;
    width: 40%;
    line-height: 200px;
    float: left;
  }
  
  #d {
    height: 200px;
    width: 40%;  
    line-height: 200px;
    float: left;
  }
  
  #e {
    height: 250px;
    width: 20%;
    float: left;
    line-height: 250px;
  }
  
  #f {
    height: 250px;
    width: 20%;
    float: left;
    line-height: 250px;
  }
  
  #g {
    height: 250px;
    width: 20%;
    float: left;
    line-height: 250px;
  }
  
  #h {
    height: 250px;
    width: 20%;
    float: left;
    line-height: 250px;
  }
  
  #i {
    clear: right;
    float: right;
    height: 150px;
    width: 80%;
    background-color: black;
    color: white;
    line-height: 150px;
  }
}